<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <title><%= title %></title>
  <link href="/favicon.ico" type="system/assets/images/x-icon"/>
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" media="all" href="http://www.ceair.com/resource4/css/ie7hack.css"/>
  <![endif]-->
</head>
<body>
  <div class="container">
    <p>
      <%= title %>
    </p>
    <p>
      <%= container %>
    </p>
  </div>
</body>
</html>