//-
    Created by Alan(000058) on 2016/11/11.
    Email: 1480801@qq.com
    Name: 活动通用底部

footer#footer.footer
    hgroup
        article.clearfix
            figure
                figcaption 关于东航
                ul
                    li
                        a(href='http://www.ceair.com/about/zjdh/index.html',target='_blank') 走进东航
                    li
                        a(href='http://www.ceair.com/about/dhxw/index.html',target='_blank') 东航资讯
                    li
                        a(href='http://zhaopin.ceair.com/',target='_blank') 东航招聘
                    li
                        a(href='http://www.ceair.com/about/thlm/index.html',target='_blank') 天合联盟
                    li
                        a(href='http://www.ceair.com/about/flys/index.html',target='_blank') 法律和隐私条款
            figure
                figcaption 互动支持
                ul
                    li
                        a(href='http://www.ceair.com/about/lxwm/index.html',target='_blank') 联系我们
                    li
                        a(href='http://www.ceair.com/guide2/hycjwtjd/index.html',target='_blank') 常见问题
                    li
                        a(href='http://eb.ceair.com/feedback/pc/index.html',target='_blank') 意见建议
                    li
                        a(href='http://www.ceair.com/sitemap.html',target='_blank') 网站导航
            figure
                figcaption 友情链接
                ul
                    li
                        a(href='http://www.ceairgroup.com',target='_blank') 中国东方航空集团公司
                    li
                        a(href='http://www.shanghai-air.com',target='_blank') 上海航空公司
                    li
                        a(href='http://www.flycua.com',target='_blank') 中国联航
                    li
                        a(href='http://www.ceholiday.com',target='_blank') 东航假期
                    li
                        a(href='http://easternmiles.ceair.com/',target='_blank') 东方万里行
            figure
                figcaption 关注我们
                div
                    a(href='http://t.qq.com/ceairdotcom',target='_blank')
                        img(src='http://www.ceair.com/resource4/images/public/icon-qweibo.png',alt='东航腾讯微博')
                    a(href='http://e.weibo.com/ceairdotcom',target='_blank')
                        img(src='http://www.ceair.com/resource4/images/public/icon-weibo.png',alt='东航新浪微博')
                    a(href='http://page.renren.com/donghang',target='_blank')
                        img(src='http://www.ceair.com/resource4/images/public/icon-renren.png',alt='东航人人网')
                    a(href='http://site.douban.com/ceair/',target='_blank')
                        img(src='http://www.ceair.com/resource4/images/public/icon-doubai.png',alt='东航豆瓣')
                    a(href='http://www.ceair.com/talent.html',target='_blank')
                        img(src='http://www.ceair.com/resource4/images/public/icon-talent.png',alt='东航达人计划')


    address
        |&copy; Copyright 2010 中国东方航空
        a(href='http://www.miibeian.gov.cn',target='_blank') 沪ICP备10009470号
        a(href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120628104633144',target='_blank')
            img(src='http://www.ceair.com/resource4/images/public/img_integrity_1.png')
        a(href='http://search.cxwz.org/cert/l/CX20111018000613000621',target='_blank')
            img(src='http://www.ceair.com/resource4/images/public/img_integrity_2.png')

