//-
    Created by Alan(000058) on 2016/11/11.
    Email: 1480801@qq.com
    Name: 活动通用头部

section#a-top.top
    hgroup
        figure.logo
            a(target='_blank',href='http://www.ceair.com/')
                img(alt='中国东方航空公司',src='http://www.ceair.com/resource4/images/public/logo_l.png',height='30')
            a(target='_blank',href='http://www.skyteam.com/')
                img(alt='天合联盟',src='http://www.ceair.com/resource4/images/public/logo_r.png',height='30')
        ul
            li
                a(href='http://www.ceair.com/flight2014/',target='_blank') 机票预订
            li
                a(href='http://hotels.ceair.com/service/Interindex',target='_blank') 酒店预订
            li
                a(href='http://vacations.ceair.com/vacation',target='_blank') 旅游度假
            li
                a(href='http://shopping.ceair.com/',target='_blank') 积分商城
            li
                a(href='http://www.ceair.com/server/aoc/',target='_blank') 航班动态
            li
                a(href='http://www.ceair.com/server/',target='_blank') 自助值机
        p.login
            a._login(href='javascript:void(0)',target='_blank') 登录
            |#{' | '}
            a(href='http://www.ceair.com/register/register.html',target='_blank') 注册
        .clear
